# Configure this Discovery Server
eureka:
  instance:
    hostname: localhost
  client: 
    registerWithEureka: false
    fetchRegistry: false
  server:
    enableSelfPreservation: false


# HTTP (Tomcat) port
server:
  port: 8761   
