# Service registers under this name
# Control the InternalResourceViewResolver:
spring:
  application:
    name: accounts-web
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp

# Discovery Server Access
eureka:
  client:
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    

# Disable Spring Boot's "Whitelabel" default error page, so we can use our own
server:
  error:
    whitelabel:
      enabled: false
      
  port: 3333
      